:root {
  --shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  --primary-color: #0dacac;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.container {
  display: flex;
}

.main {
  flex: 4;
}

.coming {
  text-align: center;
}